* {box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-appearance: none;
    font-family: 'Roboto', sans-serif;}

#kontener{
    height: 1000px; /*Potem zmienic */
    width: 55%;
    margin: auto;
    border: 2px solid rgb(82, 82, 82);
    box-shadow: 1px 7px 10px 3px #888888;}

nav{width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
border:2px solid rgb(82, 82, 82);
position: fixed;
height: 40px;
background-color: #71c750;}

a{font-weight: 600;
color: #5e5e5e;
text-decoration: none;
transition: 0.5s;}

a:hover{
    animation: nav 0.8s linear;
} /* NIE POTRAFIĘ ROBIĆ ANIMACJI Xd, WSZYSTKO SIĘ PRZESUWA */

@keyframes nav {
    16.65% {
        transform: translateY(8px);
        -webkit-transform: translateY(8px);
    }
    33.3% {
        transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
        -webkit-transform: translateY(4px);
    }
    66.6% {
        transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
    }
    83.25% {
        transform: translateY(1px);
        -webkit-transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

#name{
   background-color:  #a2ed84;
   height: 300px;
   width: auto;
}
 


